<h1>
  {{#if course}}
  {{course}} companies
  {{else}}
  All companies
  {{/if}}
</h1>
{{#each companies}}
<a href="/fair/{{fair._id}}/interviews/company/{{_id}}">{{displayName}}</a>
{{/each}}

<form action="/fair/{{fair._id}}/companies{{#if course}}?course={{course}}{{/if}}" method="post">
  <input type="text" name="displayName" placeholder="display name" />
  <input type="checkbox" name="courses" value="WebDev" />
  <label>Web Dev</label>
  <input type="checkbox" name="courses" value="UXUI" />
  <label>UXUI</label>
  <input type="checkbox" name="courses" value="Data" />
  <label>Data</label>
  <input type="checkbox" name="langFilter" placeholder="langFilter" />
  <label for="langFilter">Local language only?</label>
  <button type="submit">Create</button>
</form>