<h1>
  {{#if course}}
  {{course}} companies
  {{else}}
  All companies
  {{/if}}
</h1>
<div class="list-container">
  <ul>
    {{#each companies}}
    <li><a href="/fair/{{fair._id}}/interviews/company/{{_id}}?course={{../course}}">{{displayName}}</a></li>
    {{/each}}
  </ul>
  <form action="/fair/{{fair._id}}/companies?course={{course}}" method="post">
    <div class="group">
      <label for="displayName">Name</label>
      <input type="text" name="displayName" />
    </div>
    <div class="group">
      <label>Web Dev</label>
      <input type="checkbox" name="courses" value="WebDev" />
    </div>
    <div class="group">
      <label>UXUI</label>
      <input type="checkbox" name="courses" value="UXUI" />
    </div>
    <div class="group">
      <label>Data</label>
      <input type="checkbox" name="courses" value="Data" />
    </div>
    <div class="group">
      <label for="langFilter">Local language only?</label>
      <input type="checkbox" name="langFilter" />
    </div>
    <button type="submit">Create</button>
  </form>
</div>

{{#if companies}}
<form action="/fair/{{fair._id}}/delete/companies" method="get"
  onsubmit="return confirm('Do you really want to submit the form?');">
  <input type="text" name="course" value="{{course}}" hidden />
  <button class="btn-delete">
    delete all {{course}} companies
  </button>
</form>
{{/if}}