<a href="/fair/{{fair._id}}/students?course=WebDev">See WebDev students</a>
<a href="/fair/{{fair._id}}/students?course=UXUI">See UX/UI students</a>
<a href="/fair/{{fair._id}}/students?course=Data">See Data students</a>

<a href="/fair/{{fair._id}}/companies?course=WebDev">See WebDev companies</a>
<a href="/fair/{{fair._id}}/companies?course=UXUI">See UX/UI companies</a>
<a href="/fair/{{fair._id}}/companies?course=Data">See Data companies</a>

<a href="/fair/{{fair._id}}/interviews?course=WebDev">Web Dev interviews</a>
<a href="/fair/{{fair._id}}/interviews?course=UXUI">UX/UI interviews</a>
<a href="/fair/{{fair._id}}/interviews?course=Data">Data interviews</a>