<h1>Dashboard</h1>

<div class="dashboard-container">
  <div>
    <h2>Students</h2>
    <a href="/fair/{{fair._id}}/students?course=WebDev">WebDev</a>
    <a href="/fair/{{fair._id}}/students?course=UXUI">UXUI</a>
    <a href="/fair/{{fair._id}}/students?course=Data">Data</a>
  </div>
  <div>
    <h2>Companies</h2>
    <a href="/fair/{{fair._id}}/companies?course=WebDev">WebDev</a>
    <a href="/fair/{{fair._id}}/companies?course=UXUI">UXUI</a>
    <a href="/fair/{{fair._id}}/companies?course=Data">Data</a>
  </div>
  <div>
    <h2>Interviews</h2>
    <a href="/fair/{{fair._id}}/interviews?course=WebDev">Web Dev</a>
    <a href="/fair/{{fair._id}}/interviews?course=UXUI">UXUI</a>
    <a href="/fair/{{fair._id}}/interviews?course=Data">Data</a>
  </div>
</div>