{{#if course}}<h1>Interviews for {{course}}</h1>{{/if}}
{{#each interviews}}
<p>{{student.displayName}} with {{company.displayName}} at {{timeSlot}}</p>
{{/each}}

{{#if student}}
{{#if interviews.0.student.lang}}
Speaks local language
{{/if}}
Top choices
{{#each interviews.0.student.top3}}
{{displayName}}
{{/each}}
{{/if}}

{{#if course}}
<form action="/fair/{{fair}}/interviews?course={{course}}" method="post">
  <button type="submit">Generate interviews for {{course}}</button>
</form>
{{/if}}