<h1>Interviews for {{course}}</h1>
<table>

  <thead>
    <tr>
      <td></td>
      {{#each companies}}
      <th>
        {{this}}
      </th>
      {{/each}}
    </tr>
  </thead>

  <tbody>

    {{#each timeSlots}}
    <tr>
      <th>{{@key}}</th>
      {{#each this}}
      <td>{{student.displayName}}</td>
      {{/each}}
    </tr>
    {{/each}}
  </tbody>

</table>

{{#if course}}
<form action="/fair/{{fair}}/interviews?course={{course}}" method="post">
  <button type="submit">Generate interviews for {{course}}</button>
</form>
{{/if}}